# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/build/cmake_install.cmake
src/build/CMakeCache.txt
src/build/contrast_adjust.h
src/build/contrast_adjust.schedule.h
src/build/contrast_adjust.stmt.html
src/build/contrastAdjustGenerator
src/build/contrastAdjustTest
src/build/Makefile
src/build/min_max.h
src/build/min_max.schedule.h
src/build/min_max.stmt.html
src/build/CMakeFiles/cmake.check_cache
src/build/CMakeFiles/CMakeDirectoryInformation.cmake
src/build/CMakeFiles/CMakeError.log
src/build/CMakeFiles/CMakeOutput.log
src/build/CMakeFiles/Makefile.cmake
src/build/CMakeFiles/Makefile2
src/build/CMakeFiles/progress.marks
src/build/CMakeFiles/TargetDirectories.txt
src/build/CMakeFiles/3.21.3/CMakeCCompiler.cmake
src/build/CMakeFiles/3.21.3/CMakeCXXCompiler.cmake
src/build/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_C.bin
src/build/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_CXX.bin
src/build/CMakeFiles/3.21.3/CMakeSystem.cmake
src/build/CMakeFiles/3.21.3/CompilerIdC/CMakeCCompilerId.c
src/build/CMakeFiles/3.21.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
src/build/CMakeFiles/contrastAdjust.dir/build.make
src/build/CMakeFiles/contrastAdjust.dir/cmake_clean.cmake
src/build/CMakeFiles/contrastAdjust.dir/compiler_depend.make
src/build/CMakeFiles/contrastAdjust.dir/compiler_depend.ts
src/build/CMakeFiles/contrastAdjust.dir/depend.make
src/build/CMakeFiles/contrastAdjust.dir/DependInfo.cmake
src/build/CMakeFiles/contrastAdjust.dir/flags.make
src/build/CMakeFiles/contrastAdjust.dir/link.txt
src/build/CMakeFiles/contrastAdjust.dir/progress.make
src/build/CMakeFiles/contrastAdjustGenerator.dir/build.make
src/build/CMakeFiles/contrastAdjustGenerator.dir/cmake_clean.cmake
src/build/CMakeFiles/contrastAdjustGenerator.dir/compiler_depend.internal
src/build/CMakeFiles/contrastAdjustGenerator.dir/compiler_depend.make
src/build/CMakeFiles/contrastAdjustGenerator.dir/compiler_depend.ts
src/build/CMakeFiles/contrastAdjustGenerator.dir/depend.make
src/build/CMakeFiles/contrastAdjustGenerator.dir/DependInfo.cmake
src/build/CMakeFiles/contrastAdjustGenerator.dir/flags.make
src/build/CMakeFiles/contrastAdjustGenerator.dir/link.txt
src/build/CMakeFiles/contrastAdjustGenerator.dir/progress.make
src/build/CMakeFiles/contrastAdjustTest.dir/build.make
src/build/CMakeFiles/contrastAdjustTest.dir/cmake_clean.cmake
src/build/CMakeFiles/contrastAdjustTest.dir/compiler_depend.internal
src/build/CMakeFiles/contrastAdjustTest.dir/compiler_depend.make
src/build/CMakeFiles/contrastAdjustTest.dir/compiler_depend.ts
src/build/CMakeFiles/contrastAdjustTest.dir/depend.make
src/build/CMakeFiles/contrastAdjustTest.dir/DependInfo.cmake
src/build/CMakeFiles/contrastAdjustTest.dir/flags.make
src/build/CMakeFiles/contrastAdjustTest.dir/link.txt
src/build/CMakeFiles/contrastAdjustTest.dir/progress.make
src/.DS_Store
.DS_Store
